[default]
source_profile = mfa
role_arn       = arn:aws:iam::601743579976:role/OrganizationAccountAccessRole
region         = eu-west-1

[profile mfa]
region = us-east-1
output = table

[profile admin-engineering-dev-mfa]
source_profile = mfa
role_arn       = arn:aws:iam::601743579976:role/OrganizationAccountAccessRole

[profile admin-artifacts-prod-mfa]
source_profile = mfa
role_arn       = arn:aws:iam::404672225309:role/OrganizationAccountAccessRole

[profile tfbackend-pauwels-labs-mfa]
source_profile = mfa
role_arn       = arn:aws:iam::404672225309:role/TerraformBackend

[profile user]
region = eu-west-1
output = table

[profile admin-root]
source_profile = mfa
role_arn       = arn:aws:iam::404672225309:role/RootAdministrator
